@import "./reusable/variables";
#contact{
    direction: rtl;
    @apply py-7 flex flex-col;
    >h5{
        @extend .article-title;
        @apply mb-7;
    }
    #contact-info{
        //direction: ltr;
        @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-7 mb-7;
        >div{
            @extend .duos-text, .bg-primary ;
            @apply py-10 px-7;
            h6:nth-child(odd){
                text-align: start;
                @extend .text-primary;
            }
            h6:nth-child(even){
                text-align: end;
                @extend .text-secondary;
            }
        }
    }
    #contact-me{
        @apply p-7 flex flex-col;
        @extend .bg-primary ;
        >div{
            @apply mb-7 flex flex-row-reverse;
            >i{
                @extend .bg-tertiary , .text-secondary;
                padding: 17px;
                transition: color 0.75s,background-color 0.75s;
            }
            >textarea,>input{
                direction: rtl;
                @apply flex-grow px-4 ;
                @extend .bg-secondary ;
                color: white;
                outline: none;
            }
            >textarea,>input::placeholder{
                @apply text-sm;
            }
            >textarea:focus~i,>input:focus~i{
                background-color: $hover-text-color;
                color: black;
            }
            >textarea{
                @apply py-4 h-40;
            }
        }
        >button{
            @apply px-10 py-3 font-bold;
            background-color: $hover-text-color;
            width: fit-content;
        }
    }
}
