
.right-panel{
    @apply w-80 flex flex-col h-full;
    article{
        @apply p-4;
    }
    article:first-child{
        @apply bg-primary flex flex-col items-center;
    }
    article:not(:first-child):not(:last-child){
        @apply bg-secondary grow;
    }
    article:last-child{
        @apply bg-primary flex flex-row justify-center;
    }

}
