@import "reusable/variables";

@import "tailwindcss/base";
@import "reusable/custom-base-styles.scss";

@import "tailwindcss/components";
@import "reusable/custom-components.scss";

@import "tailwindcss/utilities";
@import "reusable/custom-utilities.scss";

@import "rightPanel";
@import "home";
@import "demo";
@import "blog";
@import "history";
@import "shop";
@import "contact";



.single-page{
    overflow-x: hidden;
    @media (min-width:1024px){
        @apply p-4 m-auto;
        max-width: 1470px;
    }
    @extend .bg-tertiary;
}

.footer{
    @extend .bg-primary;
    @apply w-full flex justify-between;
    //margin-top: -4rem;
    position: relative;
    bottom: 0;
    h5{
        @extend .text-secondary;
        @apply text-sm text-right mx-5 my-6;
    }
}



