$primary-color : linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
$primary-color-static : #2C2C37;
$primary-color-opacity-1: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
$secondary-color : #20202A;
$tertiary-color : #191923;
$primary-text-color : #FFFFFF;
$secondary-text-color : #8C8C8E;
$hover-text-color : #FFC107;

@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}
