@import "variables";
.blinking-dot{
    position: relative;
    div{
        @apply rounded-2xl;
        height: 15px;
        width: 15px;
    }
    div:first-child{
        z-index: 51;
        position: absolute;
        background-color: white;
        //animation: blinker 1s forwards infinite;

    }
    div:nth-child(2){
        position: absolute;
        z-index: 52;
        @extend .bg-tertiary;
        border: solid 3px $hover-text-color;
    }


}
@keyframes blinker {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}
