@import "./variables";
@import "./circular-progress-bar.scss";
@import "./linear-progress-bar.scss";
@import "./responsive-sidebar.scss";
@import "./sidebar.scss";
@import "./changing-icon.scss";

.bg-primary {
    background: $primary-color;
}
.bg-secondary {
    background: $secondary-color;
}
.bg-tertiary {
    background: $tertiary-color;
}

.text-primary {
    color: $primary-text-color;
    transition: color 0.5s;
    &-hover:hover{
        color: $hover-text-color;
    }
    &-bold{
        font-weight: bold;
    }
    &-bold-hover:hover{
        color: $hover-text-color;
        font-weight: bold;
    }

}


.text-secondary {
    color: $secondary-text-color;
}
.text-tertiary {
    color: $hover-text-color;
}

.single-page{
    @apply h-screen w-screen ;
}

h6{
    font-size: smaller;
    @extend .text-primary;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

