@import "./variables";
@import "./circular-progress-bar.scss";
@import "./linear-progress-bar.scss";
@import "./responsive-sidebar.scss";
@import "./sidebar.scss";
@import "./changing-icon.scss";
@import "./banner.scss";
@import "./card-1.scss";
@import "./card-2.scss";


.bg-primary {
    background: $primary-color;
}
.bg-primary-full{
    background: $primary-color-opacity-1;
}
.bg-secondary {
    background: $secondary-color;
}
.bg-tertiary {
    background: $tertiary-color;
}

.text-primary {
    color: $primary-text-color;
    transition: color 0.5s;
    &-hover:hover{
        color: $hover-text-color;
    }
    &-bold{
        font-weight: bold;
    }
    &-bold-hover:hover{
        color: $hover-text-color;
        font-weight: bold;
    }

}


.text-secondary {
    color: $secondary-text-color;
}
.text-tertiary {
    color: $hover-text-color;
}

.single-page{
    @apply h-screen w-screen ;
}

h6{
    font-size: smaller;
    @extend .text-primary;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.article-title{
    @extend .text-primary;
    @apply font-bold text-xl text-right;
}

.card {
    @extend .bg-primary;
    @apply shadow-lg p-7;
}

.card-title{
    @extend .text-primary;
    @apply font-bold text-lg text-right;
}

.show-more{
    @extend .text-tertiary;
    @apply text-right text-sm;
    &:hover {
        text-shadow: #ffffff 1px 0 5px;
    }
    >i{
        @apply mr-2;
        position: relative;
        transition: left 0.5s;
        left: 0;
    }
    &:hover>i{
        left: -10px;
    }
}
