@import "variables";
.shop-item{
    @apply flex flex-col w-full relative;
    img{
        @apply mb-4;
    }
    h6{
        @apply font-bold text-base mb-3;
    }
    >div{
        @apply flex;
    }
    span{
        @apply hidden;
    }
    button{
        i{
            @apply ml-2;
        }
        @apply py-2 px-3 font-bold text-xs;
        width: fit-content;
        background-color: $hover-text-color;
    }
}
.shop-item.off{
    span{
        @apply block absolute left-0 px-2 py-1 font-bold text-xs;
        background-color: $hover-text-color;
    }
    >div{
        >h6:first-child{
            @apply font-medium ml-3;
            @extend .text-secondary;
            text-decoration: line-through;
        }
    }
}
