.slider-container{
    @apply flex flex-col lg:flex-row relative;
    overflow-x: hidden;

}

.slider-container .sidebar-mobile{
    @extend .bg-secondary;
    @apply lg:hidden w-full shadow-xl h-20 justify-between flex ;
    label{
        @apply  flex ;
    }
    label i,>i{
        @extend .text-secondary ;
        @apply py-7 w-20 text-center;
        position: relative;
    }
}

.slider-container .sidebar{
    @extend .bg-secondary;
    @apply absolute w-60 flex h-full flex-col items-end -left-60 lg:-left-40 ;
    z-index: 1000;
    transition: left 1s;
    >label.changing-icon{
        @apply w-full flex justify-end;
        @extend .bg-primary
    }
    .close-bar i,label.changing-icon i{
        @extend .text-secondary ;
        @apply py-7 w-20 text-center;
        position: relative;
    }

    i>span{
        position: absolute;
        top:1rem;
    }

    i span button {
        background-color: $hover-text-color;
    }

    i span button span {
        @apply text-black;
    }

    div {
        @apply h-96 flex items-end mb-24;

    }
    div >span{
        @extend .text-secondary ;
        transform: rotate(90deg);
    }

    .close-bar{
        @apply w-20 flex flex-col absolute mt-20;
        transition: opacity 0.5s;
        opacity: 1;
        height: calc(100% - 10rem);
        >span{
            @apply m-auto;
        }
    }


    .open-bar{
        @apply py-2;
        position:relative;
        width:100%;
        right:300px;
        transition:right 0.4s var(--n),opacity 0.8s;
        opacity: 0;
    }

    ul{
        position:relative;
        display: flex;
        flex-direction: column;
        @apply w-full h-full px-6 ;
        justify-content:center;
    }

    li{
        @extend .text-secondary ;
        @apply text-sm ;
        text-align:right;

    }
    li i{
        transition:transform 0.3s;
    }
    li:hover>i{
        @apply -rotate-90;
    }

}
.slider-container .drawer-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.slider-container .drawer-toggle:checked~.sidebar{
    left: 0;
    @apply w-60;
    .close-bar {
        opacity: 0;
    }

    .open-bar{
        opacity: 1;
        right:0;
    }

}
.slider-container .sidebar~.sidebar-dim{
    @media (min-width: 1024px){
        transform: translateX(5rem);
        width: calc(100% - 5rem);
    }
    transform: translateX(0);
    overflow-y: hidden;
    height: 100%;
    transition: transform 1s;
}
.slider-container .drawer-toggle:checked~.sidebar~.sidebar-dim{
    opacity:0.5;
    @media (min-width: 1024px){
        transform: translateX(15rem);
    }
}
#my-scrollbar-2{
    @apply px-2 lg:px-7 w-full h-full;
    background-color: #191923F2;
    overflow-y: auto;
    min-height: 100%
}
